<?xml version="1.0"?>

<launch>
    <!-- Launch file parameters -->
    <arg name="wheel_separation" default="0.158" /> <!-- unit: meter -->
    <arg name="wheel_radius"     default="0.032" /> <!-- unit: meter -->   
    <arg name="use_imu"          default="true" />
    <arg name="output"           default="log" /> 
    <!-- arg name="output"           default="screen" /--> 

    <!-- Boot up all components -->
    <include file="$(find hypharos_minibot)/launch/includes/HyphaROS_MiniBot_Drivers.launch.xml">
        <arg name="wheel_separation" value="$(arg wheel_separation)" /> 
        <arg name="wheel_radius"     value="$(arg wheel_radius)" />
        <arg name="use_imu"          value="$(arg use_imu)" />
    </include>

    <!-- Listener -->
    <node name="main" pkg="hypharos_minibot" type="main"  output="screen">
    </node>

    <node pkg="tf" type="static_transform_publisher" name="base2target" args="0 0 0 0 0 0 /base_footprint /target 100" />

</launch>
